---
import BackwardButton from "@components/backwardButton.astro";
import VaultPanel from "@components/VaultPanel.svelte";
// ❯ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ❯ @status OK!
// ❯ @path ./src/pages/vault.astro
// ❯ @desc Vault posts listing page.
// ❯ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ❯ IMPORTS
import { LinkPresets } from "@constants/link-presets";
import GridLayout from "@layouts/grid.astro";
import { getSortedPostsList } from "@utils/content";
import { LinkPreset } from "@/types/config";

// ❯ CONFIGURATION
const pageTitle = LinkPresets[LinkPreset.Vault].name;
const pageDescription = LinkPresets[LinkPreset.Vault].description;

// ❯ DATA FETCHING
const sortedPostsList = await getSortedPostsList();
---

<GridLayout title={pageTitle} description={pageDescription}>
    <div class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <BackwardButton currentPath={Astro.url.pathname} />
            <header class="mb-8">
                <h1 class="text-2xl md:text-3xl lg:text-4xl font-extrabold mb-3 arge-title">
                    {pageTitle}
                </h1>
                {pageDescription && (
                    <p class="text-neutral-600 dark:text-neutral-400">
                        {pageDescription}
                    </p>
                )}
            </header>
            <VaultPanel sortedPosts={sortedPostsList} client:load></VaultPanel>
        </div>
    </div>
</GridLayout>